<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/documentation">Documentação</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>API - Animes</h1>
        <section>
            <code>
                print("Hello World!!")
            </code>
        </section>
    </main>
</body>
</html>
